/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* #region FOOTER */
/* #endregion */




/* Main MOBILE*/
main{
    margin-top: 60px;
    height: 1231px;
    
    background-image: url(../assets/images/banner_cadastro_de_equipe.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

main form {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 76px;
    width: 335px;
    height: 462px;

    /* border-style: linear-gradient(right, red, blue); */
}

main form::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
}




@media screen and (min-width: 768px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    header {
        position: static;
        height: 140px;
        width: 100%;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400px;
        /* border: 2px solid #FD4255; */
    }

    /* divs .phone, .mail */
    header .header-top .contatos>a {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 200px;
        /* border-bottom: 2px solid #F9AA01; */
    }

    header .header-top .midias-sociais {
        display: flex;
        justify-content: space-between;
        width: 140px;
        /* border-bottom: 2px solid #F9AA01; */
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .header-bottom {
        height: 90px;
    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
    }

    header .header-bottom nav>a {
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    main {
        margin-top: 0;
    }
}