/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}



/* Mobile First */
main{
    margin-top: 60px;
    height: 1397px;

    background-image: url(../assets/images/Banner_cadastro_de_Jogadores.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}
main .layout-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Formulário */
main form{
    height: 650px;
}

form .title{
    width: 250px;
}
form .title h1{
    text-align: center;
    width: 176px;
}
form #inputs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 273px;
    height: 296px;
}
form #inputs-container > * {
    width: 100%;
}
form select{
    font-family: 'titillium-Regular';
    font-size: 16px;
    
    padding: 0 15px;
    height: 40px;
    /* width: 273px; */

    border: none;
    border-radius: 8px;

    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    /* border-image-slice: 1; */
    backdrop-filter: blur(4px);
}
form select option{
    background-color: rgb(97, 97, 97);
}


/* Tabela */
table .table-id-element {
    width: 37px;
}

table .table-nome-element {
    width: 76px;
}

table .table-email-element {
    width: 154px;
    height: 33px;
}

table .table-acoes-element {
    width: 37px;
    height: 33px;
}

table tbody{
    font-size: 18px;
    text-transform: none;
}



@media screen and (min-width: 768px) {
    main {
        height: 1372px;
        
        margin-top: 0;
        background-image: url(../assets/images/banner_cadastro_de_jogador.png);
    }

    /* Formulário */
    main form {
        width: 800px;
        height: 670px;
    }

    main form > div {
        width: 565px !important;
    }
    main form h1 {
        width: 471px !important;
        font-size: 40px !important;
    }
    main form hr {
        width: 448px;
    }


    /* Tabela */
    table thead {
        width: 800px;
    }

    /* Comprimento células da tabela */
    table .table-id-element {
        width: 113px;
    }
    table .table-nome-element {
        width: 352px;
    }
    table .table-email-element {
        width: 187px;
    }
    table .table-acoes-element {
        width: 137px;
    }

    /* table tbody {
        
    } */
    table tbody tr {
        width: 800px;
        height: 125px !important;
        text-align: left !important;
    }
    table td {
        padding-left: 30px;
    }
    table tbody .table-acoes-element {
        text-align: center;
        padding: 0;
    }
    
    
}