/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* #region FOOTER */
/* #endregion */




/* Main MOBILE*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 1231px;

    background-image: url(../assets/images/banner_cadastro_de_equipe.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

main form {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 76px;
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 335px;
    height: 462px;

    /* border-style: linear-gradient(right, red, blue); */
}

main form::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
}

/* Inputs */
main form #inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 168px;
}
main form #inputs > * {
    width: 100%;
}

/* Documents Input */



/* Tabela */
/* Table Header */
table thead {
    display: flex;
    align-items: center;

    height: 51px;
    padding-left: 10px;
    padding-right: 7px;

    margin-bottom: 19px;
    border-bottom: 3px solid #F9AA01;
}

table thead th {
    color: #F9AA01;
    text-shadow: 0 0 6px black;
}

table .table-id-element {
    width: 37px;
}

table .table-nome-element {
    width: 145px;
}

table .table-foto-element {
    width: 75px;
    height: 33px;
}

table .table-acoes-element {
    width: 49px;
    height: 33px;
}


/* Table Body */

table tbody {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 7px;
    width: 100%;
    height: 70px;

    font-family: 'titillium-web-Bold';
}

table tbody tr::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 8px;
    background-image: linear-gradient(90deg, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    backdrop-filter: blur(5px);

}

table tbody tr td {
    height: 33px;
    border-right: 3px solid #F9AA01;
}

table tbody tr td:last-of-type {
    border: none;
}

.section-transition{
    position: absolute;
    margin-top: -79px;
    width: 100%;
    height: 79px;
    background-image: linear-gradient(to top, rgba(4, 1, 9, 1.0), rgba(50, 3, 62, 0.04));
}






@media screen and (min-width: 768px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    main {
        margin-top: 0;
        height: 1372px;
    }

    /* Formulário */
    main form {
        width: 800px !important;
        height: 530px !important;
        padding: 0 116px;
    }
    main form h1 {
        font-size: 40px !important;
    }
    main form hr {
        width: 390px !important;
    }
    main form #inputs {
        width: 100%;
    }

    /* Tabela */
    table thead {
        width: 800px;
    }
    
    table .table-id-element {
        width: 113px !important;
    }
    table .table-nome-element {
        width: 352px !important;
    }
    table .table-foto-element {
        width: 187px !important;
    }
    table .table-acoes-element {
        width: 137px !important;
    }

    table tbody tr {
        height: 125px !important;
    }
}