/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}



/* Mobile First */
main{    
    margin-top: 60px;
    height: 1397px;

    background-image: url(../assets/images/Banner_cadastro_de_Jogadores.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}
main .layout-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Formulário */
main form{
    height: 650px;
}

form .title{
    width: 250px;
}
form .title h1{
    text-align: center;
    width: 176px;
}
form #inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    height: 296px;
}
form select{
    font-family: 'titillium-Regular';
    font-size: 16px;
    
    padding: 0 15px;
    height: 40px;
    width: 273px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    /* border-image-slice: 1; */
    backdrop-filter: blur(4px);
}
form select option{
    background-color: rgb(97, 97, 97);
}


/* Tabela */
table .table-id-element {
    width: 37px;
}

table .table-nome-element {
    width: 76px;
}

table .table-email-element {
    width: 154px;
    height: 33px;
}

table .table-acoes-element {
    width: 37px;
    height: 33px;
}

table tbody{
    font-size: 18px;
    text-transform: none;
}



@media screen and (min-width: 768px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    header {
        position: static;
        height: 140px;
        width: 100%;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400px;
        /* border: 2px solid #FD4255; */
    }

    /* divs .phone, .mail */
    header .header-top .contatos>a {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 200px;
        /* border-bottom: 2px solid #F9AA01; */
    }

    header .header-top .midias-sociais {
        display: flex;
        justify-content: space-between;
        width: 140px;
        /* border-bottom: 2px solid #F9AA01; */
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .header-bottom {
        height: 90px;
    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
    }

    header .header-bottom nav>a {
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    main {
        margin-top: 0;
    }
}