@font-face {
    font-family: 'Inter-Regular';
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: 'titillium-Regular';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'titillium-web-Black';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}
@font-face {
    font-family: 'Titillium-web-Bold';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}


/* #region Style Guide */
.black {
    background-color: #1B1426;
}

.yellow {
    background-color: #F9AA01;
}

.gray {
    background-color: #D9D9D9;
}


.inter-regular-small {
    font-family: 'Inter-Regular';
    font-size: 14px;
}
.titillium-black-big {
    font-family: 'titillium-web-Black';
    font-size: 40px;
    text-shadow: 0 0 7px #FD4255;
    text-transform: uppercase;
}
.titillium-regular-small{
    font-family: 'titillium-Regular';
    font-size: 16px;
    color: white;
}
.titillium-bold-small{
    font-family: 'titillium-web-Bold';
    font-size: 16px;
    color: white;
}
.titillium-black-medium{
    font-family: 'titillium-web-Black';
    font-size: 28px;
    text-transform: uppercase;
    color: white;
}


/* Botoes */
.btn-yellow{
    width: 203px;
    height: 40px;

    background-color: #F9AA01;
    color: black;

    border: none;
    border-radius: 8px;

    font-family: 'Titillium-web-Bold';
    font-size: 24px;
    text-align: center;
}

/* Inputs de Texto */
input[type="text"], input[type="select"]{
    font-family: 'titillium-Regular';
    font-size: 16px;
    
    outline: none;
    padding: 0 15px;
    height: 40px;
    width: 273px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    /* border-image-slice: 1; */
    backdrop-filter: blur(4px);
}
input[type="text"]::placeholder, input[type="select"]::placeholder{
    color: white;
}
/* Input Select */
input[type="select"] option {
    background-color: darkblue;
}


/* #endregion */



/* #region HEADER */



/* Formulário */
main form {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 76px;
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 335px;
    height: 462px;

    /* border-style: linear-gradient(right, red, blue); */
}

main form::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
}

/* Titulo */
main form .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form hr {
    size: 3px;
    width: 250px;
    border: 2px solid #F9AA01;
}


/* Tabelas */

table {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 151px;
    width: 336px;
    height: 410px;

    color: white;

    font-family: 'titillium-web-Black';
    font-size: 20px;
    text-transform: uppercase;

}

/* Table Header */
table thead {
    display: flex;
    align-items: center;

    height: 51px;
    padding-left: 10px;
    padding-right: 7px;

    margin-bottom: 19px;
    border-bottom: 3px solid #F9AA01;
}

table thead th {
    color: #F9AA01;
    text-shadow: 0 0 6px black;
}

table .table-id-element {
    width: 37px;
}

table .table-nome-element {
    width: 145px;
}

table .table-foto-element {
    width: 75px;
    height: 33px;
}

table .table-acoes-element {
    width: 49px;
    height: 33px;
}


/* Table Body */

table tbody {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 7px;
    width: 100%;
    height: 70px;

    font-family: 'titillium-web-Bold';
}

table tbody tr::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 8px;
    background-image: linear-gradient(90deg, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    backdrop-filter: blur(5px);
    border: 1px solid white;

}

table tbody tr td {
    height: 33px;
    border-right: 3px solid #F9AA01;
}

table tbody tr td:last-of-type {
    border: none;
}
