/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* #region FOOTER */
/* #endregion */




/* Main MOBILE*/
main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 60px;
    height: 687px;

    background-image: url(../assets/images/Banner_Login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Titulo */
main form h1 {
    text-align: center;
    width: 90px;
    border-top: 3px solid #F9AA01;
}

main form .inputs-positioning {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 111px;
}

/* Inputs */
main form .icon-inputs {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 15px;
    height: 40px;
    width: 273px;

    border: 1px solid white;
    border-radius: 8px;
    /* 
    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    border-image-slice: 1; */
    /* backdrop-filter: blur(3px); */

    background-image: linear-gradient(90deg, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    backdrop-filter: blur(4px);

}

main form input {
    width: 100%;
    height: 100%;

    border-radius: 8px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;

    font-family: 'titillium-Regular';
    font-size: 16px;
}

main form input::placeholder {
    color: white;
}

main form button {
    width: 273px !important;
}


/* Desktop >= 768px */
@media screen and (min-width: 768px) {
    main {
        height: 680px;
        margin-top: 0;
    }

    main form {
        height: 520px !important;
        width: 800px !important;
    }
    main form .icon-inputs {
        width: 565px;
        height: 40px;
    }
    
}