/* CORES  */
.black{
    background-color: #010010;
}
.dark-bue{
    background-color: #080324;
}
.dark-purple{
    background-color: #340B65;
}
.light-purple{
    background-color: #A259F7;
}
.pink{
    background-color: #DA40B1;
}
.yellow{
    background-color: #FFAF00;
}
.red{
    background-color: #F9003D;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* alinhamento central e margem de 10% cada lado */
.grid-layout{
    width: 80%;
    height: 100%;
    background-color: red;

    /* Alinhamento central com 10% de margem cada lado */
    margin-right: 10%;
    margin-left: 10%;
}

/* --- HEADER --- */
header{
    /* Alinha no centro à direita */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 70px;
}

header nav{
    /* Cria o espaço entre os links */
       display: flex;
       justify-content: space-between;
       width: 300px;
}