header,
#main-section {
    width: 100%;
    background-image: linear-gradient(to right, #AD60D0, #3E2AB1);
}

/* Dentro do Layout-Grid */
header .header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 102px;
}

/* Links principais / importantes */
header .main-links {
    display: flex;
    justify-content: space-between;

    width: 343px;
    transition: color ease-in-out 0.5s;
}

header .main-links a:hover {
    color: #FF0099;
}

/* Links de ação (coração, carro de comprar, hamburguer menu barras) */
header .action-icons-container {
    display: flex;
    justify-content: space-between;

    width: 167px;
}

header .action-icons-container a {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color ease 0.4s;
}

header .action-icons-container a:hover {
    background-color: #FF0099;
}

/* MEDIA QUERIES */

@media screen and (min-width: 0px) and (max-width: 768px) {

    header,
    #main-section {
        width: 100vw;
        height: 166px;
    }

    header .logo{

    }

    header .main-links {
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;

        position: absolute;
        top: 166px;
        left: 0;

        height: 500px;
        width: 300px;

        background-image: linear-gradient(to right, hsla(281, 54%, 60%, 0.7), hsla(249, 62%, 43%, 0.7));
        backdrop-filter: blur(10px);
    }

    header .main-links a {
        display:  flex;
        align-items: center;
        justify-content: center;

        border-bottom: 1px solid #FF0099;
        height: 100%;
    }
    header .main-links a:last-of-type{
        border-bottom: none;
    }

    header .action-icons-container{
        width: 140px;
    }

    header .action-icons-container a{
        height: 40px !important;
        width: 40px !important;
    }

    header .input-1{
        position: absolute;
        top: 90px;
        left: 10%;

        width: 300px !important;
        
    }

    header img {
        width: 100px;
    }
}