header,
#main-section {
    width: 100%;
    background-image: linear-gradient(to right, #AD60D0, #3E2AB1);
}

/* Dentro do Layout-Grid */
header .header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 102px;
}

/* Links principais / importantes */
header .main-links {
    display: flex;
    justify-content: space-between;

    width: 343px;
    transition: color ease-in-out 0.5s;
}
header .main-links a:hover {
    color: #FF0099;
}

/* Links de ação (coração, carro de comprar, hamburguer menu barras) */
header .action-icons-container {
    display: flex;
    justify-content: space-between;

    width: 167px;
}

header .action-icons-container a {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color ease 0.4s;
}

header .action-icons-container a:hover {
    background-color: #FF0099;
}