#main-section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 660px;
}

section #notebook-img {
    left: 100px;

    height: 600px;
    width: 900px;
}

section figure {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 30px;
    padding: 10px;

    border: 1px solid rgb(182, 182, 182);
    border-radius: 50%;
}

#main-section>div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

/* Textos e botão da section Home */
#main-section>.layout-grid>#content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    position: absolute;
    top: 20%;
    right: 30px;
    height: 300px;

    color: white;
    font-family: 'Roboto-Regular';
    font-size: 10px;
}

#main-section>.layout-grid>#content-container h2 {
    text-transform: uppercase;
}

#main-section>.layout-grid>#content-container h1 {
    font-size: 74px;
    width: 430px;
}

#main-section>.layout-grid>#content-container button {
    width: 172px;
    height: 50px;

    border: none;
    border-radius: 87px;

    color: white;
    background-color: #FFC300;

    cursor: pointer;
    transition: ease background-color 0.5s;
}

#main-section>.layout-grid>#content-container button:hover {
    background-color: #ff5e00;
}



/* Infos Banner */
#infos-section {
    background-color: #fcebff;
}

#infos-section>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 290px;
}

#infos-section>div article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Roboto-Black';
    /* width: 274px; */
    padding-top: 25px;
    width: 23%;
    height: 154px;
}

#infos-section>div article img {
    height: 34px;
    margin: 0 10px;
}

#infos-section>div article h4 {
    font-family: 'Poppins-Bold';
    font-size: 24px;
}

#infos-section>div article p {
    font-family: 'Roboto-Medium';
    font-size: 15px;
    color: #A5A5A5;
}


/* Banner Products */

#products-section {
    height: 767px;
}

#products-section>div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;

    padding: 71px 0;
}

#products-section #text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
    height: 203px;

    font-family: 'Poppins-Bold';
}

#products-section #text p {
    width: 616px;
    font-family: "Roboto-Regular";
    color: #B0B0B0;
    text-align: center;
    font-size: 15px;
}

/* Products container */
#products-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 380px;
    width: 100%;
}

#products-container img {
    margin-bottom: 20px;
    height: 155px;
}

#products-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    height: 380px;
    width: 235px;

    font-family: 'Rubik-Regular';
    color: #9E9E9E;
    border-radius: 10px;

    transition: ease 0.5s box-shadow;
}

#products-container article:hover {
    box-shadow: 8px 8px 50px black;
    border: 2px solid #ff98fa85;
}

#products-container article .imac {
    height: 160px;
}

#products-container article>.highlighted-text {
    color: black;
}



/* Highlights Banner */
#highlights-section {
    display: flex;
    align-items: center;

    height: 770px;
    background-color: #fcebff;
}

#highlights-section #text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
}

#highlights-section #table {
    display: grid;
    grid-template-columns: 1fr 372px 372px;
    grid-template-rows: 224px 2fr;
    gap: 28px;

    height: 481px;
    width: 100%;
}

#highlights-section .box {
    padding: 30px 30px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

.box h3 {
    font-family: 'Poppins-SemiBold';
    font-size: 23px;
    word-spacing: 2%;
}

.box p {
    font-family: 'Inter-Bold';
    font-size: 14px;

    margin-top: 5px;
    color: black;
}

.box .description {
    color: #BCBCBC;
}

.box button {
    padding: 10px;
    margin-top: 30px;
    width: 172px;

    background-color: transparent;
}

#highlights-section #table>.box1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    background-image: url(../assets/images/several-iphones.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

#highlights-section #table>.box2 {
    grid-column: 2;
    grid-row: 1;

    background-image: url(../assets/images/iphone-frente-tras.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-y: 50px;
    background-position-x: 120%;
}

#highlights-section #table>.box3 {
    grid-column: 3;
    grid-row: 1;

    background-image: url(../assets/images/smartwatches.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

#highlights-section #table>.box4 {
    grid-column-start: 2;
    grid-column-end: 4;

    background-image: url(../assets/images/laptops.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 130%;
}

#highlights-section #table>.box2 h3 {
    width: 136px;
}

#highlights-section #table>.box3 h3 {
    width: 88px;
}



/* Some Products Banner */
#some-products-section {
    height: 771px;
}

#some-products-section #text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#some-products-section #text-container>#links {
    display: flex;
    justify-content: space-between;

    width: 416px;
}

#some-products-section #text-container a {
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    color: #A8A8A8;
}

#some-products-section #text-container a:first-of-type {
    font-family: 'Poppins-Bold';
    font-size: 14px;

    color: black;
    text-decoration: underline;
    text-decoration-color: #B943CC;
    text-decoration-thickness: 2px;
}

#some-products-section #cards{
    display: flex;
    justify-content: space-between;
}
#some-products-section #cards article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 431px;
    width: 269px;
    padding: 0px 30px;

    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

#some-products-section #cards article h3{
    position: absolute;
}

#some-products-section #cards article a{
    position: relative;
    right: -150px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

}