@font-face {
    font-family: "Roboto-Black";
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Rubik-Regular";
    src: url(../assets/fonts/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter-Bold";
    src: url(../assets/fonts/Inter/static/Inter-Bold.ttf);
}

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/* Cria borda padrão por todo o site */
.layout-grid {
    width: 80%;
    height: 100%;

    margin: 0 auto;
}


.logo {
    color: white;
    text-transform: uppercase;
    font-family: "Roboto-Black";
}

.input-1 {
    padding: 0 15px;
    width: 463px;
    height: 48px;

    border: none;
    border-radius: 3px;
}

.link a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: white;
}

.title {
    font-family: 'Poppins-Bold';
    font-size: 55px;
    word-spacing: 1%;
    color: black;
}

.subtitle {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    text-transform: uppercase;
}

.button-1 {
    border: 1px solid #D5CBD5;
    border-radius: 50px;

    background-color: transparent;
    color: #c485cc;
    font-family: 'Poppins-Bold';
    font-size: 14px;
    cursor: pointer;
    transition: ease 1s background-color;
}

.button-1:hover {
    background-color: #c485cc;
    color: white;
}

.link {
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    color: #A8A8A8;
}

.link-first {
    font-family: 'Poppins-Bold';
    font-size: 14px;

    color: black;
    text-decoration: underline;
    text-decoration-color: #B943CC;
    text-decoration-thickness: 2px;
}

.price {
    font-family: 'Inter-Bold';
    font-size: 14px;

    margin-top: 5px;
    color: black;
}

.h3-text {
    font-family: 'Poppins-SemiBold';
    font-size: 23px;
    word-spacing: 2%;
    text-transform: none;
}